Hi <% @user.first_name %>

Thanks for supporting awesome ideas on our website!
To confirm your recent fund, please click the link below:

<p> </p>

<a href="http://localhost:3000/ideas">Turn It On!</a>
